{% extends 'base.html' %}
{% load  staticfiles %}
{% block content %}
    Дисциплины и аудитории для их проведения(Расписание "<span id="title">{{ timetable.title }}</span>"):
    <ul id="list">
    </ul>
    <a class="btn next" href="/timetables/{{ timetable.title }}/specialities">Добавить учебные специальности</a>
    <a class="btn next" href="/timetables/{{ timetable.title }}/tutors">Вернуться к <br> преподователям</a>
    <script type="text/x-underscore-template" id="discipline-template">
        <h2 class="meta"><%- title %></h2><a class="btn add" href="#" id="add_auditory" name="<%- id %>">Добавить аудиоторию</a>
        <ul class="discipline view" id="<%- id %>">
            <% _.each(auditories, function(auditory) { %>
                <li class="auditory" id="<%- auditory.id %>"><div class="meta">Аудитория № <%= auditory.number %></div><a class="btn remove" name="<%= auditory.id %>" href="#" id="remove_auditory">Удалить</a></li>
            <% }); %>
        </ul>
    </script>
    <script type="text/x-underscore-template" id="auditory_template">
        <li id="empty"><input name="number" type=number placeholder="Введите номер аудитории в которой может проводиться дисциплина"><a id="save_auditory" class="btn next" href="#">Сохранить</a></li>
    </script>
    <script type="text/x-underscore-template" id="new-auditory-template">
            <li id="<%= id %>" class="auditory">
                <div class="meta">Аудитория № <%= number %></div><a class="btn remove" name="<%= id %>"  href="#" id="remove_auditory">Удалить</a>
            </li>
    </script>
    <script data-main="{% static 'js/auditories/auditories.js' %}" src="{% static 'js/require.js' %}"></script>
{% endblock %}
