{% extends 'base.html' %}
{% load  staticfiles %}
{% block content %}
    Специальности  и курсы  в их составе (Расписание "<span id="title">{{ timetable.title }}</span>"):
    <ul id="list">
    </ul>
    <a class="btn next" href="/timetables/{{ timetable.title }}/disciplines_courses">Добавить дисциплины изучаемые на курсах</a>
    <a class="btn next" href="/timetables/{{ timetable.title }}/specialities">Вернуться к <br> специальностям</a>
    <script type="text/x-underscore-template" id="speciality-template">
        <h2 class="meta"><%- title %></h2><a class="btn add" href="#" id="add_course" name="<%- id %>">Добавить курс</a>
        <ul class="speciality courses" id="<%- id %>">
            <% _.each(courses, function(course) { %>
                <li id="<%- course.id %>"><div class="meta"><%= course.title %></div><a class="btn remove" name="<%= course.id %>" href="#" id="remove_course">Удалить</a></li>
            <% }); %>
        </ul>
    </script>
    <script type="text/x-underscore-template" id="course-template">
        <li id="empty"><input class="full_width" name="course" type=text placeholder="Введите название курса(или его номер)"><a class="btn next" id="save_course" href="#">Сохранить</a></li>
    </script>
    <script type="text/x-underscore-template" id="new-course-template">
            <li id="<%= id %>"><div class="meta" ><%=title %></div><a class="btn remove" name="<%= id %>" href="#" id="remove_course">Удалить</a></li>
    </script>
    <script data-main="{% static 'js/courses/courses.js' %}" src="{% static 'js/require.js' %}"></script>
{% endblock %}
