{% extends 'base.html' %}
{% block content %}
    <h1>Создание нового расписания</h1>
    {% if timetable.title %}"{{ timetable.title }}"{% endif %}<br />
    <form action="/timetables/" method="{{ method|default:'post' }}">
    {% csrf_token %}
        {{ form.title.label_tag }}{{ form.title }}
        {{ form.beginning_of_period.label_tag }}{{ form.beginning_of_period }}
        {{ form.end_of_period.label_tag }}{{ form.end_of_period }}
        <input type="submit" value="{{ submit_value|default:'Начать создание' }}"/>
    </form>
{% endblock %}
