{% extends 'base.html' %}
{% load  staticfiles %}
{% block js_header %}
{% endblock %}
{% block content %}
    Учебные дни(Расписание "<span id="title">{{ timetable.title }}</span>"):
    <ul id="list">
    </ul>
    <script type="text/x-underscore-template" id="day-template">
        <h2 class="meta"><%- title %></h2>
        <% if (is_active === true) {  %><a class="btn remove" href="#" id="change_day" name="<%- id %>">Исключить из расписания</a><%  } else { %><a class="btn add" href="#" id="change_day" name="<%- id %>">Учитывать в расписании</a><% } %>
    </script>
    <a class="btn next" href="/timetables/{{ timetable.title }}">Генерация <br> расписания</a>
    <a class="btn next" href="/timetables/{{ timetable.title }}/days/other/">Дополнительные <br> настройки</a>
    <a class="btn next" href="/timetables/{{ timetable.title }}/pairs/">Вернуться к расписанию звонков</a>
    <script data-main="{% static 'js/days/days.js' %}" src="{% static 'js/require.js' %}"></script>
{% endblock %}
