{% extends 'base.html' %}
{% load  staticfiles %}
{% block js_header %}
{% endblock %}
{% block content %}
    Дисциплины(Расписание "<span id="title">{{ timetable.title }}</span>"):
    <ul id="list">
        <label>
        <input type="text" id="new_discipline" class="add_discipline"
               placeholder="Введите наименование новой дисциплины">
        </label>
        <a class="btn add" href="#" id="add_discipline">Добавить дисциплину</a>
    </ul>
    <script type="text/x-underscore-template" id="discipline-template">
        <h2 class="meta"><%- title %></h2><a class="btn remove" href="#" name="<%- title %>" id="remove_discipline"> Удалить</a>
    </script>
    <a class="btn next" href="/timetables/{{ timetable.title }}/tutors">Добавить преподавателей</a>
    <script data-main="{% static 'js/disciplines/disciplines.js' %}" src="{% static 'js/require.js' %}"></script>
{% endblock %}
