{% extends 'base.html' %}
{% load  staticfiles %}
{% block content %}
    Специальности  и курсы  в их составе (Расписание "<span id="title">{{ timetable.title }}</span>"):
    <div id="canvas"></div>
    <ul id="list">
    </ul>
    <a class="btn next" href="/timetables/{{ timetable.title }}/groups">Перейти к студенческим группам</a>
    <a class="btn next" href="/timetables/{{ timetable.title }}/courses">Вернуться к  курсам по специальностям</a>
    <script type="text/x-underscore-template" id="speciality-template">
        <h2 class="meta"><%- title %>:</h2>
        <ul class="speciality" id="<%- id %>">
            <% _.each(courses, function(course) { %>
             <li class="course" id="<%- course.id %>"><div class="meta"><b><i><%- course.title %>:</i></b></div><a class="btn add" href="#" id="add_discipline" name="<%- course.id %>">Добавить дисциплину</a>
                <ul class="disciplines" id="<%- course.id %>">
                <% _.each(course.disciplines, function(discipline) { %>
                    <li class="discipline" id="<%- discipline.id %>"><div class="meta"><%= discipline.title %> [<%= discipline.duration %> часа(ов)]<% if (discipline.depend !== "") { %> [зависит от <%= discipline.depend %>]<%  } else { %> [не зависит от других дисциплин] <% } %></div><a class="btn remove" name="<%= discipline.id %>" href="#" id="remove_discipline">Удалить</a></li>
                <% }); %>
                </ul>
             </li>
            <% }); %>
        </ul>
    </script>
    <script type="text/x-underscore-template" id="discipline-template">
        <li id="empty">
            <input class="column three" id="new_discipline" name="discipline" type=text placeholder="Преподоваемая дисциплина">
            <input class="column three" id="depend_discipline" name="depend" type=text placeholder="Дисциплина от которой зависит">
            <input class="column three" type=number  name="duration" placeholder="Количество часов по дисциплине">
            <a class="btn next" href="#" id="save_discipline">Сохранить</a></li>
    </script>
    <script type="text/x-underscore-template" id="discipline-new-template">
            <li class="discipline" id="<%- discipline_id %>"><div class="meta"><%= discipline %> [<%= duration %> часа(ов)]<% if (depend !== "") { %> [зависит от <%= depend %>]<%  } else { %> [не зависит от других дисциплин] <% } %></div><a class="btn remove" name="<%= discipline.id %>" href="#" id="remove_discipline">Удалить</a></li>
    </script>
    <script data-main="{% static 'js/disciplines_courses/disciplines_courses.js' %}" src="{% static 'js/require.js' %}"></script>
{% endblock %}
