{% extends 'base.html' %}
{% load  staticfiles %}
{% block content %}
    Специальности,курсы и группы  в их составе (Расписание "<span id="title">{{ timetable.title }}</span>"):
    <ul id="list">
    </ul>
    <a class="btn next" href="/timetables/{{ timetable.title }}/pairs">Добавить расписание звонков</a>
    <a class="btn next" href="/timetables/{{ timetable.title }}/courses">Вернуться к <br> курсам</a>
    <script type="text/x-underscore-template" id="speciality-template">
        <h2 class="meta"><%- title %>:</h2>
        <ul class="speciality" id="<%- id %>">
            <% _.each(courses, function(course) { %>
             <li class="course" id="<%- course.id %>"><div class="meta"><b><i><%- course.title %>:</i></b></div><a class="btn add" href="#" id="add_group" name="<%- course.id %>">Добавить учебную группу</a></li>
                <% _.each(course.groups, function(group) { %>
                    <li id="<%- group.id %>"><div class="meta"><%= group.title %></div><a class="btn remove" name="<%= group.id %>" href="#" id="remove_group">Удалить</a></li>
                <% }); %>
            <% }); %>
        </ul>
    </script>
    <script type="text/x-underscore-template" id="group-template">
        <li id="empty"><input class="full_width" name="title" type=text placeholder="Введите наименование  группы обучающейся на данном курсе"><a class="btn next" id="save_group" href="#">Сохранить</a></li>
    </script>
    <script type="text/x-underscore-template" id="group-update-template">
        <li id="<%- id %>"><div class="meta"><%= title %></div><a class="btn remove" name="<%= id %>" href="#" id="remove_group">Удалить</a></li>
    </script>
    <script data-main="{% static 'js/groups/groups.js' %}" src="{% static 'js/require.js' %}"></script>
{% endblock %}
