{% extends 'base.html' %}
{% load  staticfiles %}
{% block css_header %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
{% endblock %}
{% block content %}
    {% if user.is_superuser %}
        <ul id="list">
            <li id="empty">
                <input class="column three" name="title" type=text placeholder="Название">
                <input class="column three" id="beginning_of_period" name="beginning_of_period" type=text
                       placeholder="Дата начала">
                <input class="column three" id="end_of_period" name="end_of_period" type=text
                       placeholder="Дата окончания">
                <a id="add_timetable" class="btn next" href="#">Сохранить</a>
            </li>
        </ul>
        <script type="text/x-underscore-template" id="full-name-timetable">
            <li id="<%= id %>">
                <div class="meta">
                    <a href="/timetables/<%=title %>/"><%=title %></a>
                    <%= beginning_of_period %>&nbsp;&nbsp;&nbsp;<%= end_of_period %>
                </div>
                <a class="btn remove" href="#" id="remove_timetable">Удалить</a>
            </li>
        </script>
    {% elif user_properties.study_group %}
        Расписания для группы {{ user_properties.study_group }}
        <ul id="navigation">
            {% for timetable in timetables %}
                <div class="meta"><li><a href="/timetables/{{ timetable.title }}/{{ user_properties.study_group }}">{{ timetable.title }}</a></li></div>
            {% endfor %}
        </ul>
    {% endif %}

    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js_ui.js' %}"></script>
    <script>
        $(function () {
            $("#beginning_of_period").datepicker();
            $("#end_of_period").datepicker();
            $("#locale").change(function () {
                $("#datepicker").datepicker("option",
                        $.datepicker.regional[$(this).val()]);
            });
        });
    </script>
    <script data-main="{% static 'js/timetable/timetables.js' %}" src="{% static 'js/require.js' %}"></script>
{% endblock %}
