{% extends 'base.html' %}
{% load  staticfiles %}
{% block css_header %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
{% endblock %}
{% block content %}
    Дополнительные настройки (Расписание "<span id="title">{{ timetable.title }}</span>"):
     <br>
     <br>
    <h3>Запрет проведения дисциплин в определенный период</h3>
    Введите наименование дисциплины и день недели в который НЕ должна проводиться эта дисциплина(например-'Вторник'). <br>
   Также укажите период когда запрещено проведение(например-'Первая пара')
    <ul id="list">
        <li id="banned_period">
            <input class="column three" id="discipline" name="discipline" type=text placeholder="Наименование дисциплины">
            <input class="column three" id="day" name="day" type=text placeholder="День недели">
            <input class="column three" id="pair" name="pair" type=text placeholder="Временной период">
            <a class="btn add" href="#" id="add_banned_discipline">Добавить</a>
        </li>
    </ul>
    <br><br>
    <h3>Исключение праздничных и выходных дней</h3>
    Укажите дату начала и окончания праздиничного или иного дня,который вы не хотите включать в расписание.<br>
    Дата начала указывает начало периода который не будет учитываться.Дата окончания - указывает окончание этого периода.<br>
    Даты указываются в формате ДД/MM/ГГГГ
    <ul id="list">
        <li id="ignored_day">
            <input class="column two" name="beginning_of_period" type=text id="beginning_of_period" placeholder="Начало периода">
            <input class="column two" id="end_of_period" name="end_of_period" type=text placeholder="Окончание периода">
            <a style="margin-left: 7px" class="btn add" href="#" id="add_ignore_period">Добавить</a>
        </li>
    </ul>
    <script type="text/x-underscore-template" id="banned-discipline-template">
        <div class="text column three"><%- discipline %></div>
        <div class="time column three">День:<%- day %></div>
        <div class="time column three">Время:<%- pair %></div>
        <a class="btn remove banned-discipline" href="#" name="<%- title %>">Удалить</a>
    </script>
    <script type="text/x-underscore-template" id="ignored-day-template">
        <span style="width: 10px;margin-left: 10px"></span>
        <div class="time column three">Начало:<%- beginning_of_period %></div>
        <span style="width: 10px;margin-left: 150px"></span>
        <div class="time column three">Окончание:<%- end_of_period %></div>
        <span style="width: 10px;margin-left: 136px"></span>
        <a class="btn remove ignored-period" href="#" name="<%- title %>" >Удалить</a>
    </script>
    <a class="btn next" href="/timetables/{{ timetable.title }}">Генерация <br> расписания</a>
    <a class="btn next" href="/timetables/{{ timetable.title }}/days/study">Вернуться к <br>учебным дням</a>


    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js_ui.js' %}"></script>
    <script>
         $(function() {
                $( "#beginning_of_period" ).datepicker();
                $( "#end_of_period" ).datepicker();
                $( "#locale" ).change(function() {
                $( "#datepicker" ).datepicker( "option",
                $.datepicker.regional[ $( this ).val() ] );
                });
         });
    </script>
    <script data-main="{% static 'js/options/options.js' %}" src="{% static 'js/require.js' %}"></script>
{% endblock %}
