{% extends 'base.html' %}
{% load  staticfiles %}
{% block content %}
    Расписание звонков(Расписание "<span id="title">{{ timetable.title }}</span>"):
    <ul id="list">
        Введите наименование, для обозначения временого периода, (например-'Первый урок').Также укажите время начала и окончание  периода в формате ЧЧ:MM<br>
        <li id="empty"><input class="column three" name="title" type=text placeholder="Название "><input class="column three" name="beginning_of_period" type=time placeholder="Начало пары(формате ЧЧ:MM)"><input class="column three" name="end_of_period" type=time placeholder="Окончание пары(формате ЧЧ:MM)"><a style="margin-left: 10px" class="btn add" id="add_pair" href="#">Добавить</a></li>
    </ul>
    <script type="text/x-underscore-template" id="pair-template">
        <div class="pair" id="<%- title %>">
            <div class="text column three">
                <%- title %>
            </div>
            <div class="time column three">
                Начало:<%- beginning_of_period %>
            </div>
            <div class="time column three">
                Окончание:<%- end_of_period %>
            </div>
            <a class="btn remove" href="#" name="<%- title %>" id="remove_pair">
                Удалить
            </a>
        </div>
    </script>
    <a class="btn next" href="/timetables/{{ timetable.title }}/days/study/">Перейти к <br>учебным дням</a>
    <a class="btn next" href="/timetables/{{ timetable.title }}/groups/">Вернуться к учебным группам</a>
    <script data-main="{% static 'js/pairs/pairs.js' %}" src="{% static 'js/require.js' %}"></script>
{% endblock %}
