{% extends 'base.html' %}
{% load  staticfiles %}
{% block content %}
    Специальности(Расписание "<span id="title">{{ timetable.title }}</span>"):
    <ul id="list">
        <input type="text" id="new_speciality" class="add_speciality"
               placeholder="Введите наименование новой специальности">
        <a class="btn add" href="#" id="add_speciality">Добавить специальность</a>
    </ul>
    <script type="text/x-underscore-template" id="speciality-template">
        <h2 class="meta"><%- title %></h2><a class="btn remove" href="#" name="<%- title %>" id="remove_speciality"> Удалить</a>
    </script>
    <a class="btn next" href="/timetables/{{ timetable.title }}/courses">Добавить курсы по специальностям</a>
    <a class="btn next" href="/timetables/{{ timetable.title }}/auditories">Вернуться <br> к аудиториям</a>
    <script data-main="{% static 'js/specialities/specialities.js' %}" src="{% static 'js/require.js' %}"></script>
{% endblock %}
