{% extends 'base.html' %}
{% load  staticfiles %}
{% block css_header %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
{% endblock %}
{% block js_header %}
    <script type="text/javascript" src="{% static 'js/timetable/builder.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="table_header">
    <div class="timetable_setting">
        Количество дней на странице <input type="text" name="discipline" id="segment_days" value="{{ timetable.segment_days }}"><br>
        Максимальное число совмещеных пар <input type="text" name="discipline" id="complex_pairs_in_day" value="{{ timetable.complex_pairs_in_day }}">
    </div>

    <a class="btn next settings" href="#" onclick="updateTimetableSettings();return false;">Изменить <br>настройки</a>
    <br>
    Страница номер: {{ page_number }}
    {% if page_number != "Всё сразу" %}
        <br>
        {% if page_number == "1" %}
            <a href="/timetables/{{ timetable.title }}">Всё расписание</a>
        {% else %}
            <a href="/timetables/{{ timetable.title }}/pages/{{ page_number|add:-1 }}">Предыдущая страница</a>
        {% endif %}

        <a href="/timetables/{{ timetable.title }}/pages/{{ page_number|add:1 }}">Следующая страница</a>
    {% else %}
        <br>
        <br>
        <a href="/timetables/{{ timetable.title }}/pages/1">Перейти к постраничному просмотру</a>
    {% endif %}

    <div class="options">
        Группа <select id="group_list"></select>
    </div>
    </div>
    <table id="timetable">

    </table>
    <ul class='custom-menu'>
        <li data-action="edit">Редактировать</li>
    </ul>
    <a class="btn next" href="/timetables/{{ timetable.title }}/days/other">Дополнительные настройки</a>
    <a class="btn next" href="/timetables/{{ timetable.title }}/pairs">Перейти к расписанию <br> звонков</a>
    <a class="btn next" href="/timetables/{{ timetable.title }}/xls">Сохранить в <br>формате .xls</a>
    <a class="btn next" onclick="refreshTimetable();return false" href="/timetables/{{ timetable.title }}/timetable">Пересоздать
        <br> расписание</a>

    <form id="editForm">
        <fieldset>
            <label for="name">Дисциплина</label>
            <input type="text" name="discipline" id="discipline" value="" class="">
            <label for="auditory">Аудиотория</label>
            <input type="text" name="auditory" id="auditory" value="" class="">
            <label for="f_name">Фамилия</label>
            <input type="text" name="f_name" id="f_name" value="" class="">
            <label for="l_name">Имя</label>
            <input type="text" name="l_name" id="l_name" value="" class="">
            <label for="l_name">Отчество</label>
            <input type="text" name="m_name" id="m_name" value="" class="">
        </fieldset>
    </form>
{% endblock %}
