{% extends 'base.html' %}
{% load  staticfiles %}
{% block css_header %}

{% endblock %}
{% block js_header %}

{% endblock %}
{% block content %}
    <h1>Расписание для группы {{ group_title }}</h1>
    <table>
        <tr class="pairs">
            {% for pair in pairs %}
                <td class="pair">{{ pair }}</td>
            {% endfor %}
        </tr>
        {% for day in timetable %}
            <tr class="">

                {% for lesson in day %}
                    {% if lesson.pair or lesson == "" %}
                        <td class="lesson">{% if lesson.auditory %}Аудитория{% endif %} {{ lesson.auditory }}<br><br>{{ lesson.discipline }}<br><br></td>
                    {% else %}
                        <td class="day">{{ lesson }}</td>
                    {% endif %}
                {% endfor %}

            </tr>
        {% endfor %}
    </table>
{% endblock %}
