{% extends 'base.html' %}
{% load  staticfiles %}
{% block content %}
    Дисциплины и преподователи для их проведения(Расписание "<span id="title">{{ timetable.title }}</span>"):
    <ul id="list">
    </ul>
    <a class="btn next" href="/timetables/{{ timetable.title }}/auditories">Добавить учебные аудиотрии</a>
    <a class="btn next" href="/timetables/{{ timetable.title }}/disciplines">Вернуться к <br> дисциплинам</a>
    <script type="text/x-underscore-template" id="discipline-template">
        <h2 class="meta"><%- title %></h2><a class="btn add" href="#" id="add_tutor" name="<%- id %>">Добавить
            преподавателя</a>
        <ul class="discipline view" id="<%- id %>">
            <% _.each(tutors, function(tutor) { %>
            <li id="<%- tutor.id %>">
                <div class="meta"><%= tutor.last_name %> <%= tutor.first_name %> <%= tutor.middle_name %></div>
                <a class="btn remove" href="#" id="remove_tutor">Удалить</a>
            </li>
            <% }); %>
        </ul>
    </script>
    <script type="text/x-underscore-template" id="full-name-tutor">
        <li id="empty">
            <input class="column three" id="last_name" name="last_name" type=text placeholder="Фамилия">
            <input class="column three" id="first_name" name="first_name" type=text placeholder="Имя">
            <input class="column three" id="middle_name" name="middle_name" type=text placeholder="Отчество">
            <a id="save_tutor" class="btn next" href="#">Сохранить</a>
        </li>
    </script>
    <script type="text/x-underscore-template" id="new-tutor-template">
            <li id="<%= id %>">
                <div class="meta"><%=last_name %> <%= first_name %> <%= middle_name %></div>
                <a class="btn remove" href="#" id="remove_tutor">Удалить</a>
            </li>
    </script>
    <script data-main="{% static 'js/tutors/tutors.js' %}" src="{% static 'js/require.js' %}"></script>
{% endblock %}
