{% load  staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Spark</title>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/backbone.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/timetable/notify.min.js' %}"></script>
    {% block js_header %}
    {% endblock %}
    {% block css_header %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <ul>
        {#        <li><a href="#">Тестирование</a></li>#}
        {#        <li><a href="#">Библиотека</a></li>#}
        <li><a href="#">Расписание</a></li>
        <li>
            <a href="profile">{{ user.first_name }} {{ user.last_name }}</a>
            <a href="{{ sub_domains.accounts }}log_out">[Выйти]</a>
        </li>
    </ul>
</header>
<section role="main">
    <main>
        {% if user.id %}
            {% block content %}
            {% endblock %}
        {% endif %}
    </main>
</section>
</body>
</html>